// *************************************
//
//   Card
//   -> Colored content container
//
// *************************************

.card {
  background: $c-gray;
  border-radius: 15px;
  font-size: 0.9rem;
  padding: ($s-space * 3) ($s-space * 6.5);
  text-align: center;
}
a.card {
  transition: background 100ms ease-out;
  &:hover,
  &:focus {
    background: lighten($c-blue, 42.5%);
  }
}

// -------------------------------------
//   Large Comment
// -------------------------------------

// ----- Standard Comment ----- //

// Small Comment
