// *************************************
//
//   Header
//   -> Logo + navigation container
//
// *************************************

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

// -------------------------------------
//   Large Comment
// -------------------------------------

// ----- Standard Comment ----- //

// Small Comment
